@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./layout.scss";
@import "./post.scss";

.divider {
  &-vertical {
    border: 0.5px solid;
    border-color: theme("colors.gray.400");
    height: 14px;
  }
}
